<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valor-euros</th>
        <th scope="col">cambio 24h %</th>
        <th scope="col">cambio 24h</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filterCoin;let i=index">
        <td class="text-muted">
          {{i+1}}
        </td>
        <td>      
          <img src={{item.image}} width="30" alt="">
          <span>{{item.name}}</span>
          <span class="text-muted text-uppercase ms-2">{{item.symbol}}</span>
        </td >
        <td>
          {{item.current_price | currency:'EUR' }}
        </td>
          
        <td [ngClass]="item.price_change_percentage_24h >0 ? 'text-success' : 'text-danger'" >
          {{item.price_change_percentage_24h }}
        </td>
        <td>
        {{item.price_change_24h | number}}
        </td>
      </tr>
    </tbody>
  
  </table>